<div class="card">
    <div class="card-header">
      <h2>Condições informadas</h2>
    </div>
    <div class="card-content">
      <div class="item">
        <div class="icon">        </div>
        <div class="info">
          <small>Total financiado</small>
          <strong>12.409,00</strong>
        </div>
      </div>
      <div class="item">
        <div class="icon">
        </div>
        <div class="info">
          <small>Troco</small>
          <strong>{{troco}}</strong>
        </div>
      </div>
      <div class="item">
        <div class="icon">        </div>
        <div class="info">
          <small>Primeira parcela</small>
          <strong>{{firstParcel}}</strong>
        </div>
      </div>
      <div class="item">
        <div class="icon">
        </div>
        <div class="info">
          <small>Pular parcela</small>
          <strong>{{months}}</strong>
        </div>
      </div>
      <div class="item">
        <div class="icon">
        </div>
        <div class="info">
          <small>Prazo</small>
          <strong>{{prazo}}</strong>
        </div>
      </div>
    </div>
  </div>
  
      
  
