<div class="seguro-info-card">
  <div class="checkbox">
    <input type="checkbox" name="option" id="" />
    <label for="option">Sem Proteção</label>
  </div>
  <div class="seguro-info">
    <div class="seguro-valor">
      <p>
        <strong>10.000,00</strong>
        <br>
        <small>Valor segurado</small>
      </p>
      <p>
        <strong>800,00</strong>
        <br>
        <small>Valor da parcela</small>
      </p>
    </div>
    <div class="seguro-coberturas">
      <p><strong>Sem garantia</strong> 
        <br>
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vero nihil voluptatum aut soluta. </small>
  </div>
</div>
