<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-cliente
      [clientName]="clientName"
      [cpf]="cpf"
      [agencia]="agencia"
      [conta]="conta"
    ></app-cliente>
    <app-condicoes
      [prazo]="prazo"
      [firstParcel]="firstParcel"
      [troco]="troco"
      [months]="months"
    ></app-condicoes>
    <app-seguro></app-seguro>
  </body>
</html>
