<div class="card">
    <div class="card-header">
      <h2>Cliente</h2>
    </div>
    <div class="card-content">
      <div class="item">
        <div class="info">
          <strong>{{clientName}}</strong>
          <small>Nome</small>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <strong>{{cpf}}</strong>
          <small>CPF</small>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <strong>32208017</strong>
          <small>MCI</small>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <strong>{{agencia}}</strong>
          <small>Agência</small>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <strong>{{conta}}</strong>
          <small>Conta</small>
        </div>
      </div>
    </div>
  </div>
  
